<a href="https://colab.research.google.com/github/iamzaidsoomro/Data-Structures-and-Algorithms/blob/main/20SW003(Lab_2)Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def calculate_bus_fare(age):
    if age < 8:
        bus_fare = 0
    elif age < 18:
        bus_fare = 1.5
    elif age < 65:
        bus_fare = 2.5
    else:
        bus_fare = None  # If the age does not match any condition, set bus_fare to None

    return bus_fare

# Taking age as input from the user
try:
    age = int(input("Enter your age: "))
    bus_fare = calculate_bus_fare(age)
    if bus_fare is not None:
        print(f"The bus fare is ${bus_fare:.2f}")
    else:
        print("No fare information available for this age.")
except ValueError:
    print("Invalid input! Please enter a valid age.")

Enter your age: 58
The bus fare is $2.50

In [ ]:
result_list = [num ** 3 if num % 3 == 0 else num ** 2 for num in range(1, 31)]
print(result_list)

[1, 4, 27, 16, 25, 216, 49, 64, 729, 100, 121, 1728, 169, 196, 3375, 256, 289, 5832, 361, 400, 9261, 484, 529, 13824, 625, 676, 19683, 784, 841, 27000]

In [ ]:
answer = 42  # You can replace this with any number you want to hide

guess = int(input("Enter your guess: "))

if guess == answer:
    print("Congratulations! Your guess is correct!")
elif guess < answer:
    print("Too low! Try a higher number.")
else:
    print("Too high! Try a lower number.")

Enter your guess: 23
Too low! Try a higher number.

In [ ]:
def calculate_tax(purchase_amount, state):
    tax_rates = {'CA': 0.075, 'MN': 0.095, 'NY': 0.089}

    if state in tax_rates:
        tax_rate = tax_rates[state]
        taxed_amount = purchase_amount * (1 + tax_rate)
        return taxed_amount
    else:
        print("Error: Invalid state entered.")
        return None

# Taking user input for the purchase amount and state
try:
    purchase_amount = float(input("Enter the purchase amount: $"))
    state = input("Enter the state (CA, MN, or NY): ").upper()

    taxed_amount = calculate_tax(purchase_amount, state)
    if taxed_amount is not None:
        print(f"The taxed amount is: ${taxed_amount:.2f}")
except ValueError:
    print("Invalid input! Please enter a valid purchase amount.")

Enter the purchase amount: $200]
Invalid input! Please enter a valid purchase amount.

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [ ]:
for num in range(5, 31, 5):
    print(num)

5
10
15
20
25
30

In [ ]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [ ]:
# Assuming you have a list of names and scores like this
names_scores = [("John", 80), ("Alice", 70), ("Bob", 55), ("Mary", 90), ("Tom", 60)]

# List comprehension to filter names with scores >= 65
passed_names = [name for name, score in names_scores if score >= 65]

print(passed_names)

['John', 'Alice', 'Mary']

In [ ]:
names = ["Alice", "Bob", "Charlie", "David"]
heights = [165, 175, 160, 180]

# Using zip to create the dictionary
cast = dict(zip(names, heights))

print(cast)

{'Alice': 165, 'Bob': 175, 'Charlie': 160, 'David': 180}

In [ ]:
cast = ["Barney Stinson", "Ted Mosby", "Marshall Eriksen", "Robin Scherbatsky", "Lily Aldrin"]
heights = [72, 70, 74, 68, 66]

# Using enumerate and list comprehension to modify the cast list
cast_with_height = [f"{name} {height}" for name, height in zip(cast, heights)]

print(cast_with_height)

['Barney Stinson 72', 'Ted Mosby 70', 'Marshall Eriksen 74', 'Robin Scherbatsky 68', 'Lily Aldrin 66']